{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Индивидульный план работы</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'plan_tables/styles/style.css' %}">
  <meta charset="UTF-8">
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="{% static 'plan_tables/js/nav_functions.js' %}"></script>
</head>

<body>

  <div class='text_font divLogin noprint'>
    {% if username %}
      <a href="/auth/logout">Выйти ({{ username }})</a>
    {% else %}
      <a href="/auth/login/">Войти</a>
    {% endif %}
  </div>

  {% block content %}{% endblock %}
  {% block login %}{% endblock %}

  <script src="{% static 'plan_tables/js/add_row_fall.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_fallHourly.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_spring.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_springHourly.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_educMethodWork.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_sciWork.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_literature.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_otherWork.js' %}"></script>
  <script src="{% static 'plan_tables/js/add_row_training.js' %}"></script>

  <script src="{% static 'plan_tables/js/calc_functions.js' %}"></script>
  <script src="{% static 'plan_tables/js/calc_sumWorks.js' %}"></script>

  <script src="{% static 'plan_tables/js/del_rows.js' %}"></script>
  <script src="{% static 'plan_tables/js/checkTables.js' %}"></script>
  <script src="{% static 'plan_tables/js/print_tables.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
