{% block content %}

{% if springHourlyWorkQuerySet %}

<strong><div class='parHead'>Работа по совместительству или с почасовой оплатой (весна)</div></strong>

<form action='' method='post' id='form_springHourly'>
  {% csrf_token %}
</form>
<div><table border='1' id='table_springHourly'>
  <tr>
    <th rowspan='2' width='4%'>
      № <br>п/п
    </th>
    <th rowspan='2' width='12%'>
      Поток, группа
    </th>
    <th rowspan='2' width='19%'>
      Дисциплина
    </th>
    <th rowspan='2' width='5%'>
      Вид работ
    </th>
    <th colspan='7' width='46.6666666667%'>
      Кол-во часов по видам уч. работы (плановое)
    </th>
    <th rowspan='2' width='70px'>
      Всего
    </th>
  </tr>
  <tr>
    <th>февраль</th>
    <th>март</th>
    <th>апрель</th>
    <th>май</th>
    <th>июнь</th>
    <th>июль</th>
    <th>август</th>
  </tr>
{% for i in springHourlyWorkQuerySet %}
  <tr>
    <td>
      <input type='text' name="num_p_springHourly_{{ i.num_p }}" class='academNumP' form='form_springHourly' value='{{ i.num_p }}' readonly>
    </td>
    <td>
      <textarea  name='flow_springHourly_{{ i.num_p }}' class='academTextarea' form='form_springHourly' value='{{ i.group }}' cols='40' rows='1'>{{ i.group }}</textarea>
    </td>
    <td>
      <input type='text' name='disc_springHourly_{{ i.num_p }}' class='academTextarea' form='form_springHourly' value='{{ i.discipline }}'>
    </td>
    <td>
      <input type='text' name='worktype_springHourly_{{ i.num_p }}' class='academTextarea' form='form_springHourly' value='{{ i.workType }}'>
    </td>
    <td>
      <input type='number' name='feb_springHourly_{{ i.num_p }}' id='feb_springHourly_{{ i.num_p }}' class='feb_springHourly academNumInput' form='form_springHourly' value='{{ i.february }}'>
    </td>
    <td>
      <input type='number' name='mar_springHourly_{{ i.num_p }}' id='mar_springHourly_{{ i.num_p }}' class='mar_springHourly academNumInput' form='form_springHourly' value='{{ i.march }}'>
    </td>
    <td>
      <input type='number' name='apr_springHourly_{{ i.num_p }}' id='apr_springHourly_{{ i.num_p }}' class='apr_springHourly academNumInput' form='form_springHourly' value='{{ i.april }}'>
    </td>
    <td>
      <input type='number' name='may_springHourly_{{ i.num_p }}' id='may_springHourly_{{ i.num_p }}' class='may_springHourly academNumInput' form='form_springHourly' value='{{ i.may }}'>
    </td>
    <td>
      <input type='number' name='jun_springHourly_{{ i.num_p }}' id='jun_springHourly_{{ i.num_p }}' class='jun_springHourly academNumInput' form='form_springHourly' value='{{ i.june }}'>
    </td>
    <td>
      <input type='number' name='jul_springHourly_{{ i.num_p }}' id='jul_springHourly_{{ i.num_p }}' class='jul_springHourly academNumInput' form='form_springHourly' value='{{ i.july }}'>
    </td>
    <td>
      <input type='number' name='aug_springHourly_{{ i.num_p }}' id='aug_springHourly_{{ i.num_p }}' class='aug_springHourly academNumInput' form='form_springHourly' value='{{ i.august }}'>
    </td>
    <td>
      <input type='number' id='count_springHourly_{{ i.num_p }}' name="sumfact_springHourly_{{ i.num_p }}" class='sum_plan_springHourly academNumInput' form='form_springHourly' value='{{ i.fact }}'>
    </td>
  </tr>

{% endfor %}
  <tr>
    <td colspan='4' align='right'>
      Всего отработано за месяц:
    </td>
    <td>
      <input type='number' name='feb_all_springHourly' class='feb_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='mar_all_springHourly' class='mar_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='apr_all_springHourly' class='apr_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='may_all_springHourly' class='may_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='jun_all_springHourly' class='jun_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='jul_all_springHourly' class='jul_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='aug_all_springHourly' class='aug_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td colspan='2'>
      <input type='number' name='sumfact_all_springHourly' class='sumfact_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
  </tr>
</table></div>

{% else %}

<strong><div class='parHead'>Работа по совместительству или с почасовой оплатой (весна)</div></strong>
<form action='' method='post' id='form_springHourly'>
  {% csrf_token %}
</form>
<div><table border='1' id='table_springHourly'>
  <tr>
    <th rowspan='2' width='30px'>
      № <br> п/п
    </th>
    <th rowspan='2' width='250px'>
      Поток, группа
    </th>
    <th rowspan='2' width='150px'>
      Дисциплина
    </th>
    <th rowspan='2'>
      Вид работ*
    </th>
    <th colspan='7'>
      Кол-во часов по видам уч. работы (плановое)
    </th>
    <th colspan='2' rowspan='2'>
      Всего
    </th>
  </tr>
  <tr>
    <th>февраль</th>
    <th>март</th>
    <th>апрель</th>
    <th>май</th>
    <th>июнь</th>
    <th>июль</th>
    <th>август</th>
  </tr>
  <tr>
    <td>
      <input type='text' name="num_p_springHourly_1" class='academNumP' form='form_springHourly' value='1' size='3' readonly>
    </td>
    <td>
      <input type='text' name='flow_springHourly_1' class='academTextarea' form='form_springHourly'>
    </td>
    <td>
      <input type='text' name='disc_springHourly_1' class='academTextarea' form='form_springHourly'>
    </td>
    <td>
      <input type='text' name='worktype_springHourly_1' class='academTextarea' form='form_springHourly'>
    </td>
    <td>
      <input type='number' name='feb_springHourly_1' id='feb_springHourly_1' class='feb_springHourly academNumInput' form='form_springHourly'>
    </td>
    <td>
      <input type='number' name='mar_springHourly_1' id='mar_springHourly_1' class='mar_springHourly academNumInput' form='form_springHourly'>
    </td>
    <td>
      <input type='number' name='apr_springHourly_1' id='apr_springHourly_1' class='apr_springHourly academNumInput' form='form_springHourly'>
    </td>
    <td>
      <input type='number' name='may_springHourly_1' id='may_springHourly_1' class='may_springHourly academNumInput' form='form_springHourly'>
    </td>
    <td>
      <input type='number' name='jun_springHourly_1' id='jun_springHourly_1' class='jun_springHourly academNumInput' form='form_springHourly'>
    </td>
    <td>
      <input type='number' name='jul_springHourly_1' id='jul_springHourly_1' class='jul_springHourly academNumInput' form='form_springHourly'>
    </td>
    <td>
      <input type='number' name='aug_springHourly_1' id='aug_springHourly_1' class='aug_springHourly academNumInput' form='form_springHourly'>
    </td>
    <td colspan='2'>
      <input type='number' id='count_springHourly_1' name='sumplan_springHourly_1' class='sum_plan_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
  </tr>
  <tr>
    <td colspan='4' align='right'>
      Всего отработано за месяц:
    </td>
    <td>
      <input type='number' name='feb_all_springHourly' class='feb_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='mar_all_springHourly' class='mar_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='apr_all_springHourly' class='apr_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='may_all_springHourly' class='may_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='jun_all_springHourly' class='jun_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='jul_all_springHourly' class='jul_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td>
      <input type='number' name='aug_all_springHourly' class='aug_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
    <td colspan='2'>
      <input name='sumfact_all_springHourly' type='number' class='sumfact_all_springHourly academNumInput' form='form_springHourly' readonly>
    </td>
  </tr>
</table></div>

{% endif %}

<div class='academBtn'>
  <input type='button' value='Добавить строку' onClick='add_row_springHourly()' form='form_springHourly'>
  <input type='button' value='Удалить строку' onClick="delRow('table_springHourly', this.id, 2)" form='form_springHourly' id='del_btn_springHourly' disabled>
  <input type='submit' value='Сохранить' form='form_springHourly' id='btn_springHourly' class='btnSave'>
</div>

<p class='notes'>*Вид работ:<br>
Лекции (Л); лабораторные занятия (ЛЗ); практические занятия (ПЗ); курсовое проектирование (КП);<br>
консультации (К); экзамены (Э); зачеты (З); практика (П); ВКР; руководство аспирантами (РА);<br>
работа в составе ГЭК (ГЭК); рецензирование контрольных работ (РКР).
<p>

{% endblock %}
