body {
  background: silver;
}

input[type="text"] {
  font-family: Verdana, Geneva, sans-serif;
}

textarea {
  font-family: Verdana, Geneva, sans-serif;
  border: none;
}

td {
  font-family: Verdana, Geneva, sans-serif;
  padding: 2px;
  border: 1px solid black;
  /* border-width: 3px; */
}

th {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11pt;
  text-align: center;
  border: 1px solid black;
  /* border-width: 3px; */
}

th.month {
  width: 70px;
  /* border-width: 3px; */
}

p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  margin-left: 5%;
}

p.titul {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  text-align: center;
  margin-left: 0;
  margin-top: 60px;
  margin-bottom: 60px;
}

p.titulSign {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  text-align: center;
  margin-left: 0;
  margin-top: 120px;
  margin-bottom: 60px;
}

table {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  /* width: 0 !important; */
}

.printStr {
  margin-left: 60px;
}

.finalTable {
  display: inline-block;
}

.text_font {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
}

.inputSelTeach {
  width: 35%;
}

.divCreateBtn {
  margin-left: 5%;
  margin-right:6.75%;
  margin-bottom: 20px;
}

.fillLink {
  margin-left: 2%;
}

.divLogin {
  margin-right: 5%;
  text-align: right;
}

.parHead {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14pt;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.academNumP {
  width: 100%;
  border: none;
  text-align: center;
}

.academNumInput {
  width: 100%;
  text-align: center;
}

.printAcademNumInput {
  width: 100%;
  text-align: center;
  border: none;
}

.academTextarea {
  resize: none;
  width: 100%;
  font-size: 10pt;
}

.academBtn {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.notes {
  text-align: left;
  margin-right: 5%;
}

.exampleBtn {
  margin-left: 5%;
}

.editionLit {
  width:110px;
}

.pageBreak {
  page-break-before: always !important;
}

hr {
  background-color: black;
}

hr.printHr {
  height: 1px;
  margin-left: 60px;
  margin-right: 60px;
}

.conSpaceBtwn {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
}

.spcBtwn {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}


@media print {
    .noprint {
      display: none !important;
    }
    body {
      background: white !important;
    }
    .table{
      background-color: white;
      /* border: 6; */
    }
}
